@import "../../config.scss";


.header {
  display: flex;
  align-items: baseline;
  margin: 1rem 0;

  font-family: $font-header;
  cursor: pointer;

  &__title {
    font-size: $size-xxl;
    font-weight: bold;
    color: $blue-dark;
    margin-right: 0.5rem;
  }

  &__subtitle {
    font-size: $size-xxl;
    font-weight: normal;
    color: $blue-dark;
  }
}