@import "../../config.scss";


.loading {
  display: flex;
  justify-content: center;
  padding: 2rem;

  & > .loading__icon {
    width: 8px;
    height: 8px;
    margin: 4px;
    fill: $black;

    animation: loading-animation 900ms linear;
    animation-iteration-count: infinite;
  }

  & > .loading__icon:nth-child(2) {
    animation-delay: 300ms;
  }

  & > .loading__icon:nth-child(3) {
    animation-delay: 600ms;
  }
}


@keyframes loading-animation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}