@import "../../config.scss";


.search {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 0.5rem;
  border: 2px solid $black;

  &__input {
    flex-grow: 1;
    margin-right: 0.5rem;

    border: none;
    background-color: transparent;
    outline-width: 0;

    color: $black;
    font-weight: bold;
  }

  &__button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  &__icon {
    width: 16px;
    height: 16px;

    fill: $black;
  }
}