@import "../../config.scss";


.search {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 0.5rem 1rem;

  background-color: $blue-light;

  &__input {
    flex-grow: 1;
    margin-right: 0.5rem;

    border: none;
    background-color: transparent;
    outline-width: 0;

    color: $black;
    font-weight: normal;
    font-size: $size-m;
  }

  &__button, &__clear {
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline-width: 0;
  }

  &__icon {
    width: 36px;
    height: 36px;
    padding-left: 1rem;

    fill: $blue-dark;
    border-left: 1px solid $blue-medium;
  }

  &__clear-icon {
    width: 32px;
    height: 32px;
    padding-right: 1rem;

    fill: $blue-medium;
  }
}