@import "./config.scss";


* {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;

  font-family: $font-main;
  font-size: $size-m;
  color: $black;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;

  background-color: $white;
}

img {
  max-width: 100%;
}

.app {
  margin: 1rem;
}