/* Important sizes */

$max-width: 1500px;
$gutter: 20px;
$offset: 20px;
$num-col: 12;


/* Media query points */

$point-phone-tablet: 800px;
$point-tablet-desktop: 1100px;


/* Colors */

$black: #202020;
$white: #ffffff;
$blue-light: #e1efff;
$blue-medium: #b0d5ff;
$blue-dark: #1a73e8;


/* Font sizes */

$size-s: 14px;
$size-m: 16px;
$size-l: 20px;
$size-xl: 24px;
$size-xxl: 30px;


/* Font families */

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./resources/fonts/MontserratRegular.ttf) format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./resources/fonts/MontserratSemiBold.ttf) format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./resources/fonts/MontserratBold.ttf) format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'ProductSans';
  src: local('ProductSans'), url(./resources/fonts/ProductSansRegular.ttf) format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'ProductSans';
  src: local('ProductSans'), url(./resources/fonts/ProductSansBold.ttf) format('truetype');
  font-weight: bold;
}

$font-main: Montserrat, sans-serif;
$font-header: ProductSans, sans-serif;